Repository langadventurellc/trellis-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pyright

isort:
  name: isort Import Sorter
  entry: uv run isort
  language: system
  require_serial: true
  args:
  - .

black:
  name: Black Code Formatter
  entry: uv run black
  language: system
  require_serial: true
  args:
  - --config
  - pyproject.toml

flake8:
  name: Flake8 Linter
  entry: uv run flake8
  language: system
  require_serial: true
  args:
  - src/

pyright:
  name: Pyright Type Checker
  entry: uv run pyright src/ tests/
  language: system
  require_serial: true
  pass_filenames: false

delete hot mess from git fuck up
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-add-cross-system-prerequisite.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-add-performance-monitoring-for.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-add-real-time-prerequisite.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-create-comprehensive-error.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-enhance-cycle-detection-error.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-enhance-validationerror-with.md
Due: none

create tasks
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-create-cross-system.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-create-developer-architecture.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-create-performance-guidelines.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-create-practical-examples-for.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-create-troubleshooting-guide-for.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-update-mcp-tool-documentation.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-update-readme-with-cross-system.md
Due: none

Create cross-system prerequisites documentation structure
  docs/cross-system-prerequisites/architecture.md
  docs/cross-system-prerequisites/examples/README.md
  docs/cross-system-prerequisites/index.md
  docs/cross-system-prerequisites/performance.md
  docs/cross-system-prerequisites/troubleshooting.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-done/20250718_194845-T-create-cross-system.md
Due: none

Add comprehensive Cross-System Prerequisites section to README
  README.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-done/20250718_195518-T-update-readme-with-cross-system.md
Due: none

Create developer architecture documentation for cross-system prerequisites
  docs/cross-system-prerequisites/architecture.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-done/20250718_200422-T-create-developer-architecture.md
Due: none

Complete Documentation and Examples Feature
  .pre-commit-config.yaml
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/feature.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/feature.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-done/20250718_202357-T-update-mcp-tool-documentation.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-create-performance-guidelines.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-create-practical-examples-for.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-open/T-create-troubleshooting-guide-for.md
  src/trellis_mcp/tools/claim_next_task.py
  src/trellis_mcp/tools/complete_task.py
  src/trellis_mcp/tools/create_object.py
  src/trellis_mcp/tools/get_next_reviewable_task.py
  src/trellis_mcp/tools/list_backlog.py
  src/trellis_mcp/tools/update_object.py
Due: isort, black, flake8, pyright

Complete Documentation and Examples Feature (#33)
  .pre-commit-config.yaml
  README.md
  docs/cross-system-prerequisites/architecture.md
  docs/cross-system-prerequisites/examples/README.md
  docs/cross-system-prerequisites/index.md
  docs/cross-system-prerequisites/performance.md
  docs/cross-system-prerequisites/troubleshooting.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/feature.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/feature.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-done/20250718_194845-T-create-cross-system.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-done/20250718_195518-T-update-readme-with-cross-system.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-done/20250718_200422-T-create-developer-architecture.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-documentation-and-examples/tasks-done/20250718_202357-T-update-mcp-tool-documentation.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-add-cross-system-prerequisite.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-add-performance-monitoring-for.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-add-real-time-prerequisite.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-create-comprehensive-error.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-enhance-cycle-detection-error.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-enhanced-error-handling-1/tasks-open/T-enhance-validationerror-with.md
  src/trellis_mcp/tools/claim_next_task.py
  src/trellis_mcp/tools/complete_task.py
  src/trellis_mcp/tools/create_object.py
  src/trellis_mcp/tools/get_next_reviewable_task.py
  src/trellis_mcp/tools/list_backlog.py
  src/trellis_mcp/tools/update_object.py
Due: isort, black, flake8, pyright

add tasks
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-open/T-add-comprehensive-integration-1.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-open/T-add-cross-system-cycle-detection.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-open/T-create-cross-system-prerequisite.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-open/T-create-edge-case-and-error.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-open/T-implement-mixed-dependency-chain.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-open/T-refactor-test-mixed-task-types.md
Due: none

Refactor test_mixed_task_types.py into focused test modules
  .pre-commit-config.yaml
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_211510-T-refactor-test-mixed-task-types.md
  tests/integration/test_mixed_task_lifecycle.py
  tests/integration/test_mixed_task_operations.py
  tests/integration/test_mixed_task_path_resolution.py
  tests/integration/test_mixed_task_types.py
  tests/integration/test_mixed_task_validation.py
Due: isort, black, flake8, pyright

Add comprehensive cross-system prerequisite validation test module
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_214109-T-create-cross-system-prerequisite.md
  tests/integration/test_cross_system_prerequisites.py
Due: isort, black, flake8, pyright

Implement comprehensive mixed dependency chain integration tests
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_221438-T-implement-mixed-dependency-chain.md
  tests/integration/test_mixed_dependency_chain_integration.py
Due: isort, black, flake8, pyright

Add comprehensive cross-system cycle detection tests
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_223002-T-add-cross-system-cycle-detection.md
  tests/fixtures/cross_system_cycles.py
  tests/integration/test_cross_system_cycle_detection.py
Due: isort, black, flake8, pyright

Complete comprehensive integration workflow tests
  CLAUDE.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/epic.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/feature.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_230748-T-add-comprehensive-integration-1.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-open/T-create-edge-case-and-error.md
  planning/projects/P-standalone-task-system/project.md
  tests/integration/test_comprehensive_integration_workflows.py
Due: isort, black, flake8, pyright

remove flaky perf tests
  tests/integration/test_cross_system_prerequisites.py
  tests/integration/test_mixed_dependency_chain_integration.py
Due: isort, black, flake8, pyright

Cross-System Test Suite Implementation (#34)
  .pre-commit-config.yaml
  CLAUDE.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/epic.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/feature.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_211510-T-refactor-test-mixed-task-types.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_214109-T-create-cross-system-prerequisite.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_221438-T-implement-mixed-dependency-chain.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_223002-T-add-cross-system-cycle-detection.md
  planning/projects/P-standalone-task-system/epics/E-cross-system-prerequisites/features/F-cross-system-test-suite/tasks-done/20250718_230748-T-add-comprehensive-integration-1.md
  planning/projects/P-standalone-task-system/project.md
  tests/fixtures/cross_system_cycles.py
  tests/integration/test_comprehensive_integration_workflows.py
  tests/integration/test_cross_system_cycle_detection.py
  tests/integration/test_cross_system_prerequisites.py
  tests/integration/test_mixed_dependency_chain_integration.py
  tests/integration/test_mixed_task_lifecycle.py
  tests/integration/test_mixed_task_operations.py
  tests/integration/test_mixed_task_path_resolution.py
  tests/integration/test_mixed_task_types.py
  tests/integration/test_mixed_task_validation.py
Due: isort, black, flake8, pyright

create tasks
  planning/tasks-open/T-consolidate-cross-system-test.md
  planning/tasks-open/T-consolidate-error-handling-test.md
  planning/tasks-open/T-consolidate-exception-test-files.md
  planning/tasks-open/T-consolidate-task-management-test.md
  planning/tasks-open/T-merge-mixed-task-test-files.md
  planning/tasks-open/T-merge-object-management-test.md
  planning/tasks-open/T-merge-path-resolution-test-files.md
  planning/tasks-open/T-merge-validation-test-files.md
  planning/tasks-open/T-remove-redundant-integration.md
  planning/tasks-open/T-split-oversized-test-server-py.md
  planning/tasks-open/T-update-test-documentation-and-ci.md
  planning/tasks-open/T-validate-test-coverage-after.md
  test-inventory.md
Due: none

Split oversized test_server.py into logical modules
  planning/tasks-done/20250719_000105-T-split-oversized-test-server-py.md
  planning/tasks-open/T-split-oversized-test-server-py.md
  tests/unit/test_server.py
  tests/unit/test_server_core.py
  tests/unit/test_server_crud.py
  tests/unit/test_server_transport.py
  tests/unit/test_server_workflows.py
Due: isort, black, flake8, pyright

Consolidate exception test files into logical groups
  planning/tasks-done/20250719_001127-T-consolidate-exception-test-files.md
  planning/tasks-open/T-consolidate-cross-system-test.md
  planning/tasks-open/T-consolidate-exception-test-files.md
  planning/tasks-open/T-merge-mixed-task-test-files.md
  tests/unit/exceptions/test_cross_system_validation_error.py
  tests/unit/exceptions/test_hierarchy_task_validation_error.py
  tests/unit/exceptions/test_invalid_status_for_completion.py
  tests/unit/exceptions/test_standalone_task_validation_error.py
  tests/unit/exceptions/test_system_exceptions.py
  tests/unit/exceptions/test_task_workflow_exceptions.py
  tests/unit/exceptions/test_validation_error.py
  tests/unit/exceptions/test_validation_error_integration.py
  tests/unit/exceptions/test_validation_exceptions.py
Due: isort, black, flake8, pyright

Remove redundant cross-system test duplicates
  planning/tasks-done/20250719_001714-T-consolidate-cross-system-test.md
  planning/tasks-open/T-consolidate-cross-system-test.md
  tests/integration/test_cross_system_prerequisites.py
  tests/test_cross_system_error_handling.py
Due: isort, black, flake8, pyright

Remove redundant mixed task test cases while preserving unique functionality
  planning/tasks-done/20250719_083547-T-merge-mixed-task-test-files.md
  planning/tasks-open/T-merge-mixed-task-test-files.md
  tests/integration/test_mixed_task_lifecycle.py
  tests/integration/test_mixed_task_operations.py
  tests/integration/test_mixed_task_path_resolution.py
Due: isort, black, flake8, pyright

Complete validation test files consolidation
  planning/tasks-done/20250719_091428-T-merge-validation-test-files.md
  planning/tasks-open/T-merge-validation-test-files.md
  tests/unit/test_dependency_validation.py
  tests/unit/test_enhanced_security_validation.py
  tests/unit/test_enhanced_validation.py
  tests/unit/test_field_validation.py
  tests/unit/test_object_validation.py
  tests/unit/test_parent_validation.py
  tests/unit/test_security_validation.py
  tests/unit/test_validation.py
  tests/unit/test_validation_errors.py
  tests/unit/test_validation_failures.py
Due: isort, black, flake8, pyright

Consolidate task management test files for better organization
  planning/tasks-done/20250719_092437-T-validate-test-coverage-after.md
  planning/tasks-done/20250719_093310-T-consolidate-task-management-test.md
  planning/tasks-open/T-consolidate-task-management-test.md
  tests/integration/test_complete_task_file_movement.py
  tests/unit/test_task_completion.py
  tests/unit/test_task_sorter.py
  tests/unit/test_task_sorting.py
Due: isort, black, flake8, pyright

Complete path resolution test file reorganization and validation fixes
  planning/tasks-done/20250719_104303-T-merge-path-resolution-test-files.md
  planning/tasks-open/T-consolidate-error-handling-test.md
  planning/tasks-open/T-merge-object-management-test.md
  planning/tasks-open/T-merge-path-resolution-test-files.md
  planning/tasks-open/T-remove-redundant-integration.md
  planning/tasks-open/T-update-test-documentation-and-ci.md
  src/trellis_mcp/path_resolver.py
  src/trellis_mcp/validation/field_validation.py
  tests/integration/test_path_resolver_validation.py
  tests/unit/test_children_of.py
  tests/unit/test_id_to_path.py
  tests/unit/test_path_resolver.py
  tests/unit/test_path_security_validation.py
  tests/unit/test_path_to_id.py
  tests/unit/test_path_validation_integration.py
  tests/unit/test_project_roots.py
  tests/unit/test_resolve_path_for_new_object.py
  tests/unit/test_standalone_task_helpers.py
  tests/unit/test_standalone_task_path_validation.py
Due: isort, black, flake8, pyright

Consolidate error handling test files for comprehensive test organization
  planning/tasks-done/20250719_105716-T-consolidate-error-handling-test.md
  planning/tasks-open/T-consolidate-error-handling-test.md
  tests/unit/test_error_aggregation.py
  tests/unit/test_error_collector.py
  tests/unit/test_error_handling.py
  tests/unit/test_error_messages.py
  tests/unit/test_message_templates.py
Due: isort, black, flake8, pyright

Consolidate object management test files for better organization
  planning/tasks-done/20250719_110722-T-merge-object-management-test.md
  planning/tasks-open/T-merge-object-management-test.md
  tests/unit/test_object_operations.py
  tests/unit/test_object_parser.py
Due: isort, black, flake8, pyright

Remove redundant integration tests to reduce maintenance overhead
  planning/tasks-done/20250719_111514-T-remove-redundant-integration.md
  planning/tasks-open/T-remove-redundant-integration.md
  tests/integration/test_dependency_management.py
  tests/integration/test_integration_task_lifecycle_workflow.py
Due: isort, black, flake8, pyright

Complete test consolidation and documentation updates
  planning/tasks-done/20250719_112201-T-update-test-documentation-and-ci.md
  planning/tasks-open/T-update-test-documentation-and-ci.md
  test-inventory.md
Due: none

update docs
  LICENSE
  README.md
  docs/sample-commands/create-epics-trellis.md
  docs/sample-commands/create-features-trellis.md
  docs/sample-commands/create-project-trellis.md
  docs/sample-commands/create-tasks-trellis.md
  docs/sample-commands/implement-task-trellis.md
  pyproject.toml
Due: none

update docs (#36)
  LICENSE
  README.md
  docs/sample-commands/create-epics-trellis.md
  docs/sample-commands/create-features-trellis.md
  docs/sample-commands/create-project-trellis.md
  docs/sample-commands/create-tasks-trellis.md
  docs/sample-commands/implement-task-trellis.md
  pyproject.toml
Due: none

cleanup
  .gitignore
  .tasks/250713/20250713-f-01-scaffolding-cli-feature.md
  .tasks/250713/20250713-f-01-scaffolding-cli-requirements.md
  .tasks/250713/20250713-f-01-scaffolding-cli-tasks.md
  .tasks/250713/f-02.md
  .tasks/250713/f-03-review.md
  .tasks/250713/f-03.md
  .tasks/250713/f-04-review.md
  .tasks/250713/f-04.md
  .tasks/250713/f-05.md
  .tasks/250713/f-06.md
  .tasks/250713/f-07.md
  .tasks/250713/f-08.md
  .tasks/250713/f-09.md
  .tasks/250713/f-10.md
  .tasks/250713/f-11.md
  .tasks/250713/f-12.md
  .tasks/250715/tool-modularization.md
  .tasks/250716/mcp-inspector-parameter-defaults.md
  benchmark_type_checking.py
  dev_server.py
  docs/technical-specs/PERFORMANCE.md
  docs/technical-specs/task_mcp_spec_and_plan.md
  test-inventory.md
Due: isort, black, flake8

create tasks
  docs/sample-commands/create-epics-trellis.md
  docs/sample-commands/create-features-trellis.md
  docs/sample-commands/create-project-trellis.md
  docs/sample-commands/create-tasks-trellis.md
  docs/sample-commands/implement-task-trellis.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-discovery-tools-implementation/epic.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-enhanced-task-claiming/epic.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/epic.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-children-discovery-system/feature.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/feature.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-create-file-system-validation.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-create-id-pattern-matching.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-create-kind-inference-engine-api.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-implement-lru-cache-for.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-implement-path-resolution-for.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-write-comprehensive-integration.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-object-tool-simplification/feature.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-management-and-cleanup/epic.md
  planning/projects/P-trellis-mcp-tool-enhancements/project.md
Due: none

remove incorrect `task-` prefix
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-discovery-tools-implementation/epic.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/epic.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/feature.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-create-id-pattern-matching.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-implement-path-resolution-for.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-object-tool-simplification/feature.md
  planning/projects/P-trellis-mcp-tool-enhancements/project.md
Due: none

Implement ID pattern matching system for Kind Inference Engine
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-done/20250719_142909-T-create-id-pattern-matching.md
  src/trellis_mcp/inference/__init__.py
  src/trellis_mcp/inference/pattern_matcher.py
  tests/test_pattern_matcher.py
Due: isort, black, flake8, pyright

Implement PathBuilder class for unified object path construction
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-done/20250719_144856-T-implement-path-resolution-for.md
  src/trellis_mcp/inference/__init__.py
  src/trellis_mcp/inference/path_builder.py
  tests/test_path_builder.py
Due: isort, black, flake8, pyright

use poethepoet for quality check
  CLAUDE.md
  README.md
  pyproject.toml
  uv.lock
Due: none

Implement FileSystemValidator with comprehensive validation for Kind Inference Engine
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-done/20250719_152326-T-create-file-system-validation.md
  src/trellis_mcp/inference/validator.py
  tests/test_inference_validator.py
Due: isort, black, flake8, pyright

Implement LRU cache for inference results with intelligent invalidation
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-done/20250719_153207-T-implement-lru-cache-for.md
  src/trellis_mcp/inference/cache.py
  tests/test_inference_cache.py
Due: isort, black, flake8, pyright

Implement Kind Inference Engine API with comprehensive error handling
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-done/20250719_154546-T-create-kind-inference-engine-api.md
  src/trellis_mcp/inference/__init__.py
  src/trellis_mcp/inference/engine.py
  tests/test_inference_engine.py
Due: isort, black, flake8, pyright

Fix inference engine validator to use id_to_path for hierarchical object resolution
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-done/20250719_171252-T-fix-inference-engine-validator.md
  planning/projects/P-trellis-mcp-tool-enhancements/epics/E-tool-interface-simplification/features/F-kind-inference-engine/tasks-open/T-write-comprehensive-integration.md
  src/trellis_mcp/inference/validator.py
  tests/test_inference_validator.py
Due: isort, black, flake8, pyright

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pyright: any of: ^(src/|tests/).*\.py$
